@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* Head & Header */
.head {
  height: 40px;
  background-color: #2b343b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#callButton {
  background-color: rgb(197, 24, 36);
  border: none;
  width: 150px;
  height: 75px;
  border-radius: 20px;
}
#buttonContent1{
  font-size: 35px;
  font-weight: 900;
  color: white;
  
}
.head-content1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.numbers {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.head-content2 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.head-content2 p {
  margin: 0;
  padding-right: 20px;
  border-right: 2px solid white;
}

.head-content2 .social-icons {
  display: flex;
  gap: 20px;
}

.head-content2 .social-icon {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.head-content2 .social-icon:hover {
  color: #016baf;
}

.header {
  background-color: #eff4f8;

  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Navigation Bar */
.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
display: flex;
justify-content: space-between;
height: 50px;
background: linear-gradient(90deg, #016baf 0%, #034a78 100%);
}


.navBar a {
  display: flex;

  color: white;
  text-decoration: none;
  padding: 17px 10px;
  font-size: 18px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* banner */
.banner {
  background: url(../assets/Page2/Banner/repaiPageBanner.png) no-repeat center
    top / cover;

  padding: 70px 0;
}

.banner-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.banner-content p {
  color: white;
  font-size: 22px;
  text-align: center;
}
/* main section */
.card-container_ {
  text-align: center;
  padding: 50px 0;
  background-image: url(../assets/page1/aboutBackround.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards-bottom {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 60px;
}
.cards-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 60px;
}

.card_ {
  background-color: #eeeeee;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card_ h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card_ img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  padding-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.hf {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-button_ {
  background-color: #0071bb;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card-button_:hover {
  background-color: white;
  color: #0071bb;
}
.card-container_ p {
  position: absolute;
  top: -18px;
  font-size: 25px;
}

/* Footer */
.footer {
  background-color: #e0e3fd;
  font-family: sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  border-bottom: 2px solid rgba(151, 151, 151, 1);
  padding-bottom: 45px;
}
.footer h3 {
  border-left: 4px solid #034a78;
  padding-left: 10px;
}
.location {
  padding-top: 40px;
}
.footer1 {
  padding-top: 20px;
}
.footer2 table td a {
  margin-right: 60px;
  text-decoration: none;
  line-height: 30px;
  color: rgba(43, 52, 59, 1);
}
.social-icons_ {
  display: flex;
  gap: 20px;
}

.social-icon_ {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon_ i {
  font-size: 20px;
}

.social-icon_:nth-child(1),
.social-icon_:nth-child(2),
.social-icon_:nth-child(3) {
  border: 2px solid #034a78;
  background-color: transparent;
  color: #034a78;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  color: rgba(151, 151, 151, 1);
}
